/************************section***********************************/
.body_perfil {
    width: 80%;
}

.modal_p {
    width: 80%;
}

.modal_p iframe {
    height: 90vh;
}

.publicacion {
    width: 45%;
}

.publicacion_imagen2 {
    width: auto;
    height: auto;
}

.publicacion_descripcion {
    width: 40%;
    height: auto;
}

.publicacion_linea1b p {
    font-size: 2rem;
}

.publicacion_linea2b p {
    font-size: 2rem;
}

.publicacion_linea3b p {
    font-size: 2rem;
}

.publicacion_linea1 p {
    font-size: 1.6rem;
}

.publicacion_linea2 p {
    font-size: 1.6rem;
}

.publicacion_linea3 p {
    font-size: 1.6rem;
}

/*************section datos de usuario*********/
.fijar {
    margin-top: 5%;
    width: 30%;
    border-bottom: none;
    margin-right: 10%;
    border-right: 1px solid var(--gris_oscuro);
    box-shadow: 15px 0px 10px -18px var(--gris_oscuro);
}

.datos_usuario {
    height: 70vh;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;

}

.publicaciones {
    margin-top: 5%;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.foto {
    margin-top: 5%;
    width: 90%;
}

.foto_selector {
    width: 30px;
    height: 30px;
    top: 80px;
    left: 90px;
}

.foto_perfil {
    width: 100px;
    height: 100px;
}

.datos {
    width: 90%;
    margin-top: 5%;
}

.herramientas {
    justify-content: flex-start;
    margin-left: 15%;
    margin-bottom: 2%;
}

.uno,
.dos,
.tres {
    width: 32px;
    height: 30px;
    margin-right: 2%;
}

.datos p {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

/***************modal tres puntos**********/
.modal_container_t {
    height: 35%;
}

/***************modal ajustes**********/
.modal_Cuerpoh {
    flex-direction: row;
    justify-content: space-around;
}

.modal_Cuerpoh div {
    width: 40%;
}

.subir {
    width: auto;
    padding: 1%;
}

.modal_e {
    background-color: var(--gris_claro);
    width: 50%;
}

.modal_s {
    background-color: var(--gris_claro);
    width: 50%;
}