
/************************section***********************************/
body{
    width: 80%;
}
.publicacion{
    width: 30%;
}
.publicacion_imagen2{
    width: 50%;
    height: auto;
}
.publicacion_descripcion{
    width: 40%;
    height: auto;
}
