:root {
    --verde: #4B8325;
    --blanco: #ffff;
    --gris_claro: #E5E5E5;
    --gris_oscuro: #A6A6A6;
    --cafe: #A96224;
    --font1: 'Port Lligat Sans', sans-serif;
    --font2: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    scroll-padding: 10vh;
}

.body_crearP{
    background-color:  #F8F8F8;
    width: 100%;
    min-width: 320px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.body_crearP p{
    font-size: 1.3rem;
    margin-bottom: 2%;
}
.body_crearP span{
    font-size: 1.3rem;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
form{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid var(--verde);
    border-radius: 5px;
}
form p{
    font-weight: bold;
    font-size: var(--font2);
    color: var(--gris_oscuro);
    text-align: left;
}
.imagen{
    width: 80%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imagen div{
    background-image: url("../../../principal/icons/Cancel.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-left: 100%;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}
.imagen div:hover{
    background-image: url("../../../principal/icons/Cancel-1.png");
}
.img_p{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100vh;
    cursor: pointer;
}
input{
    width: 80%;
    margin-bottom: 5%;
    border-bottom:2px solid var(--verde) ;
    border-top:none ;
    border-left:none ;
    border-right:none ;
    background-color: transparent;
}
input:focus, select:focus, textarea:focus {
    outline: 0 none;
    box-shadow: 0px 9px 10px -7px var(--cafe);
    border-bottom: 1px solid var(--cafe);
    border-top:none ;
    border-left:none ;
    border-right:none ;
}
.actualizar{
    margin-bottom: 5%;
    margin-top: 5%;
    width: 50%;
    background-color: #4B8325;
    border: none;
    font-size: var(--font1);
    color: var(--blanco);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
}
.actualizar:hover{
    color: var(--verde);
    background-color: var(--gris_claro);
}
label{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;
}
label input{
    width: 45%;
    border: 1px solid var(--verde);
    margin-bottom: 0;
    padding: 0 5px;
}
.texto{
    font-weight: bold;
    width: 45%;
    font-size: var(--font1);
    border: 1px solid var(--verde);
    color: var(--gris_oscuro);
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
select{
    background-color: transparent;
    width: 80%;
    margin-bottom: 5%;
    border-bottom:2px solid var(--verde) ;
    border-top:none ;
    border-left:none ;
    border-right:none ;
}
textarea{
    width: 80%;
    margin-bottom: 5%;
    height: 100px;
    border-bottom:2px solid var(--verde) ;
    border-top:none ;
    border-left:none ;
    border-right:none ;
    background-color: transparent;

}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
::placeholder {
    margin-left: 5px;
    font-family: var(--font2);
    color: var(--gris_oscuro);
    font-size: 1.3rem;
}
#prenada,#tipoprenada,#semanas,#primeriza,#nprenada,#otro_T,#otro_R{
    display: none;
}
/***************modal**********/


.modal_f {
    width: 90%;
    background-color: rgb(229, 229, 229);
    height: 70%;
    display: none;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    transform: translateY(0%);
    transition: transform 1s;
    margin-bottom: 5%;
}

.modal_Cuerpo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}
/************insertar fotografia******/
.modal_Cuerpof {
    display: flex;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.insert_Foto{
    width: 100px;
    height: 100px;
    border: 5px dashed var(--verde);
    background-image: url(../../menu/icons/Camera.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 5%;
}
.mas{
    width: 20px;
    height: 20px;
    background-image: url(../../menu/icons/Sum.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 5%;
}
.foto_publicacion{
    display: none;
}
.IF_2, .IF_3, .IF_4, .IF_5{
    display: none;
}
.imagenes{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100vh;
}
.cont_img{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    display: none;
}
.cerrando{
    width: 10%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.cerrar{
    background-image: url(../../../principal/icons/Cancel.png);
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.requerido{
    color: var(--verde);
    text-align: center;
    width: 50%;
    margin-top: 10%;
}
.limite{
    margin-top: 5%;
    color: var(--verde);
    text-align: center;
}
.separador{
    width: 100%;
    border: 1px solid var(--verde);
}