<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Port+Lligat+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="./principal/CSS/movile.css">
    <link rel="stylesheet" href="./principal/CSS/tablet.css" media="screen and (min-width:600px)">
    <link rel="stylesheet" href="./principal/CSS/web.css" media="screen and (min-width:1000px)">
    <link rel="icon" type="image/png" href="./principal/images/logoblanco.png" sizes="100x100">


    <title>tuVaca.com</title>
</head>

<body>
    <iframe src="http://docs.google.com/gview?url=
https://firebasestorage.googleapis.com/v0/b/tuvaca-ce478.appspot.com/o/Pol%C3%ADtica%20de%20T%C3%A9rminos%20y%20Condiciones%20Aplicaci%C3%B3n%20Web%20tuVaca%20(1).pdf?alt=media&token=758607ba-6810-427e-a715-20b967629828
&embedded=true" frameborder="0" style="width:100%; height:700px;"></iframe>


    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-auth.js"></script>
    <!-- Don't change the format for any other products. -->
    <!-- etc. -->
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            // YOUR FIREBASE CREDENTIALS HERE
            apiKey: "AIzaSyDlasdrgnXPMmIqioRVObso5lwBp1e5UCs",
            authDomain: "tuvaca-ce478.firebaseapp.com",
            projectId: "tuvaca-ce478",
            storageBucket: "tuvaca-ce478.appspot.com",
            messagingSenderId: "487906553455",
            appId: "1:487906553455:web:35cd78dd5c339b1d3ba79a",
            measurementId: "G-3LYFGJK1ET"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const auth = firebase.auth();
    </script>
    <script src="./JS/firebaseAuth.js"></script>
</body>

</html>