<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<form action="/imagen" method="POST", enctype="multipart/form-data">
		<label for=""> Primer formulario </label>
		<input type="file" name="imagen[]" multiple>
		<input type="submit" value="Enviar">
	</form>
	<h1>Segundo formulario de prueba</h1>
	<form action="/multiple_input" method="POST" , enctype="multipart/form-data">
		<input type="file" name="input0">
		<input type="file" name="input1">
		<input type="file" name="input2">
		<input type="file" name="input3">
		<input type="file" name="input4">
		<input type="submit" value="Enviar">
	</form>
	{{!-- <form action="/imagenPrueba" method="POST">
		<label for="">Segundo formulario</label>
		<input type="file" name="imagen" id="imagen">
		<input type="text" id="text" name="text">
		<input type="submit" value="Enviar">
	</form>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script>
		$("#imagen").on("change", function(){
			var imagen = $(this)[0].files[0];
			var fileReader = new FileReader();
			fileReader.readAsDataURL(imagen);
			//console.log(typeof(fileReader.data));
			//fileReader.readAsDataURL(imagen);
			fileReader.onload = function(e){
				//$("#imagen").attr("src", e.target.result);
				//console.log(e.target.result);
				console.log(fileReader.result);
				const text = document.getElementById("text");
				text.value = fileReader.result;
			}
		});
	</script> --}}
</body>
</html>