<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Port+Lligat+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="./principal/CSS/movile.css">
    <link rel="stylesheet" href="./principal/CSS/tablet.css" media="screen and (min-width:600px)">
    <link rel="stylesheet" href="./principal/CSS/web.css" media="screen and (min-width:1000px)">
    <link rel="icon" type="image/png" href="./principal/images/logoblanco.png" sizes="100x100">
    <script src="https://account.snatchbot.me/script.js"></script>
    <script>window.sntchChat.Init(248282)</script>
    <title>tuVaca.com</title>
</head>

<body>
    <!--header-->
    <header id="home" class="header">
        <section class="header_imagenes">
            <picture>
                <source media="(min-width:1300px" srcset="./principal/images/vacas/vaca1-G.jpg">
                <source media="(min-width:1000px" srcset="./principal/images/vacas/vaca1-M.jpg">
                <img class="header_imagenes-grid" src="./principal/images/vacas/vaca1-P.jpg" alt="">
            </picture>
            <picture>
                <source media="(min-width:1300px" srcset="./principal/images/vacas/vaca2-G.jpg">
                <source media="(min-width:1000px" srcset="./principal/images/vacas/vaca2-M.jpg">
                <img class="header_imagenes-grid" src="./principal/images/vacas/vaca2-P.jpg" alt="">
            </picture>
            <picture>
                <source media="(min-width:1300px" srcset="./principal/images/vacas/vaca3-G.jpg">
                <source media="(min-width:1000px" srcset="./principal/images/vacas/vaca3-M.jpg">
                <img class="header_imagenes-grid" src="./principal/images/vacas/vaca3-P.jpg" alt="">
            </picture>
            <picture>
                <source media="(min-width:1300px" srcset="./principal/images/vacas/vaca4-G.jpg">
                <source media="(min-width:1000px" srcset="./principal/images/vacas/vaca4-M.jpg">
                <img class="header_imagenes-grid" src="./principal/images/vacas/vaca4-P.jpg" alt="">
            </picture>
            <div class="header_imagenes-logo">
                <img src="./principal/images/logo.png" alt="">
            </div>
            <picture>
                <source media="(min-width:1300px" srcset="./principal/images/vacas/vaca5-G.jpg">
                <source media="(min-width:1000px" srcset="./principal/images/vacas/vaca5-M.jpg">
                <img class="header_imagenes-grid" src="./principal/images/vacas/vaca5-P.jpg" alt="">
            </picture>
            <picture>
                <source media="(min-width:1300px" srcset="./principal/images/vacas/vaca6-G.jpg">
                <source media="(min-width:1000px" srcset="./principal/images/vacas/vaca6-M.jpg">
                <img class="header_imagenes-grid" src="./principal/images/vacas/vaca6-P.jpg" alt="">
            </picture>
            <picture>
                <source media="(min-width:1300px" srcset="./principal/images/vacas/vaca7-G.jpg">
                <source media="(min-width:1000px" srcset="./principal/images/vacas/vaca7-M.jpg">
                <img class="header_imagenes-grid" src="./principal/images/vacas/vaca7-P.jpg" alt="">
            </picture>
            <picture>
                <source media="(min-width:1300px" srcset="./principal/images/vacas/vaca8-G.jpg">
                <source media="(min-width:1000px" srcset="./principal/images/vacas/vaca8-M.jpg">
                <img class="header_imagenes-grid" src="./principal/images/vacas/vaca8-P.jpg" alt="">
            </picture>
        </section>
        <nav class="header_navegacion">
            <ul>
                <a id="homes" class="header_icon_uno" href="#home"></a>
                <a id="cow" class="header_icon_dos" href="#cows"></a>
                <a id="mail" class="header_icon_tres" href="#mails"></a>
            </ul>
        </nav>
        <p class="header_titulo">Comercialización de bovinos en la provincia de Ubaté.</p>
        <div class="header_botones">
            <button class="modal_IS_abrir">Iniciar Sesion</button>
            <button class="modal_R_abrir">Registrarse</button>
        </div>
    </header>
    <!--Main-->
    <main class="main">
        <section class="main_banerU">
            <picture>
                <source media="(min-width:1300px" srcset="./principal/images/granjas/granja1-G.jpg">
                <source media="(min-width:1000px" srcset="./principal/images/granjas/granja1-M.jpg">
                <img class="main_imagenes_grid" src="./principal/images/granjas/granja1-P.jpg" alt="">
            </picture>
            <picture>
                <source media="(min-width:1300px" srcset="./principal/images/granjas/granja2-G.jpg">
                <source media="(min-width:1000px" srcset="./principal/images/granjas/granja2-M.jpg">
                <img class="main_imagenes_grid" src="./principal/images/granjas/granja2-P.jpg" alt="">
            </picture>
            <picture>
                <source media="(min-width:1300px" srcset="./principal/images/granjas/granja3-G.jpg">
                <source media="(min-width:1000px" srcset="./principal/images/granjas/granja3-M.jpg">
                <img class="main_imagenes_grid" src="./principal/images/granjas/granja3-P.jpg" alt="">
            </picture>
        </section>
        <p class="main_parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatum officia,
            similique iure quidem corrupti placeat, ullam dolorem perferendis
            quae voluptatem magnam delectus saepe distinctio labore qui consectetur architecto dignissimos.</p>
        <section id="cows" class="main_contenido">
            <!--Comercio Intermunicipal-->
            <section class="municipios">
                <div class="">
                    <h1>Comercio Intermunicipal</h1>
                </div>
                <span class="uno_M" id="uno"></span>
                <span class="dos_M" id="dos"></span>
                <span class="tres_M" id="tres"></span>
                <span class="cuatro_M" id="cuatro"></span>
                <span class="cinco_M" id="cinco"></span>
                <span class="seis_M" id="seis"></span>
                <span class="siete_M" id="siete"></span>
                <span class="ocho_M" id="ocho"></span>
                <span class="nueve_M" id="nueve"></span>
                <span class="diez_M" id="diez"></span>
                <span class="once_M" id="once"></span>
                <span class="doce_M" id="doce"></span>
                <span class="trece_M" id="trece"></span>
                <span class="catorce_M" id="catorce"></span>
                <span class="quince_M" id="quince"></span>
                <span class="unoseis_M" id="unoseis"></span>
            </section>
            <!--Publicaciones-->
            <section class="main_contenido_p publicaciones">
                <div class="main_contenido_titulo">
                    <h1>Publicaciones</h1>
                </div>
                <div class="main_contenido_publicaciones ">
                    <div class="contenido_p_caja animate__animated animate__bounce  animate__slower	2s" id="cajaUno">
                        <div class="contenido_p_izquierdo">
                            <div class="cpi_uno"></div>
                            <div class="cpi_dos"></div>
                            <div class="cpi_tres">
                                <div class="cpi_tresS">
                                    <div class="cpi_tresSpan"></div>
                                    <div class="cpi_tresSpan"></div>
                                    <div class="cpi_tresSpan"></div>
                                    <div class="cpi_tresSpan"></div>
                                </div>
                                <div class="cpi_tresD"></div>
                            </div>
                        </div>
                        <div class="contenido_p_derecho">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="contenido_p_caja animate__animated animate__bounce  animate__slower	2s" id="cajaDos">
                        <div class="contenido_p_izquierdo">
                            <div class="cpi_uno"></div>
                            <div class="cpi_dos"></div>
                            <div class="cpi_tres">
                                <div class="cpi_tresS">
                                    <div class="cpi_tresSpan"></div>
                                    <div class="cpi_tresSpan"></div>
                                    <div class="cpi_tresSpan"></div>
                                    <div class="cpi_tresSpan"></div>
                                </div>
                                <div class="cpi_tresD"></div>
                            </div>
                        </div>
                        <div class="contenido_p_derecho">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Busquedas-->
            <section class="main_contenido_p busquedas">
                <div class="main_contenido_titulo">
                    <h1>Busqueda</h1>
                </div>
                <div class="main_contenido_busqueda">
                    <div class="main_contenido_bBuscador">
                        <p>Holstein</p>
                        <span></span>
                    </div>
                    <div class="main_contenido_bCajas ">
                        <div class="main_contenido_bCaja animate__animated animate__flipOutX animate__slower	3s">
                            <div class="main_bCaja_foto"></div>
                            <div class="main_bCaja_texto"></div>
                            <div class="main_bCaja_calificacion">
                                <div class="calificacion_strart">
                                    <span class="strart"></span>
                                    <span class="strart"></span>
                                    <span class="strart"></span>
                                </div>
                                <div class="calificacion_texto"></div>
                                <span class="calificacion_precio"></span>
                            </div>
                        </div>
                        <div class="main_contenido_bCaja animate__animated  animate__flipOutX animate__slower	3s">
                            <div class="main_bCaja_foto"></div>
                            <div class="main_bCaja_texto"></div>
                            <div class="main_bCaja_calificacion">
                                <div class="calificacion_strart">
                                    <span class="strart"></span>
                                    <span class="strart"></span>
                                    <span class="strart"></span>
                                </div>
                                <div class="calificacion_texto"></div>
                                <span class="calificacion_precio"></span>
                            </div>
                        </div>
                        <div class="main_contenido_bCaja animate__animated animate__flipOutX animate__slower	3s">
                            <div class="main_bCaja_foto"></div>
                            <div class="main_bCaja_texto"></div>
                            <div class="main_bCaja_calificacion">
                                <div class="calificacion_strart">
                                    <span class="strart"></span>
                                    <span class="strart"></span>
                                    <span class="strart"></span>
                                </div>
                                <div class="calificacion_texto"></div>
                                <span class="calificacion_precio"></span>
                            </div>
                        </div>
                        <div class="main_contenido_bCaja animate__animated  animate__flipOutX animate__slower	3s">
                            <div class="main_bCaja_foto"></div>
                            <div class="main_bCaja_texto"></div>
                            <div class="main_bCaja_calificacion">
                                <div class="calificacion_strart">
                                    <span class="strart"></span>
                                    <span class="strart"></span>
                                    <span class="strart"></span>
                                </div>
                                <div class="calificacion_texto"></div>
                                <span class="calificacion_precio"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Directorio de Acarreos-->
            <section class="main_contenido_p  directorio">
                <div class="main_contenido_titulo">
                    <h1>Directorio de Accarreos</h1>
                </div>
                <div class="main_contenido_acarreos animate__animated animate__flipOutY animate__slower	3s">
                    <div class="main_caja_acarreos">
                        <div class="main_cajaA_texto"></div>
                        <div class="main_cajaA_Contenido">
                            <div class="carro"></div>
                            <div class="texto_carro">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="main_caja_acarreos">
                        <div class="main_cajaA_texto"></div>
                        <div class="main_cajaA_Contenido">
                            <div class="carro"></div>
                            <div class="texto_carro">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="main_caja_acarreos">
                        <div class="main_cajaA_texto"></div>
                        <div class="main_cajaA_Contenido">
                            <div class="carro"></div>
                            <div class="texto_carro">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="main_caja_acarreos">
                        <div class="main_cajaA_texto"></div>
                        <div class="main_cajaA_Contenido">
                            <div class="carro"></div>
                            <div class="texto_carro">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="main_caja_acarreos">
                        <div class="main_cajaA_texto"></div>
                        <div class="main_cajaA_Contenido">
                            <div class="carro"></div>
                            <div class="texto_carro">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="main_caja_acarreos">
                        <div class="main_cajaA_texto"></div>
                        <div class="main_cajaA_Contenido">
                            <div class="carro"></div>
                            <div class="texto_carro">
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!--Imagenes de main-->
        <section class="main_banerD">
            <picture>
                <source media="(min-width:1300px" srcset="./principal/images/granjas/granja4-G.jpg">
                <source media="(min-width:1000px" srcset="./principal/images/granjas/granja4-M.jpg">
                <img class="main_imagenes_grid" src="./principal/images/granjas/granja4-P.jpg" alt="">
            </picture>
            <picture>
                <source media="(min-width:1300px" srcset="./principal/images/granjas/granja5-G.jpg">
                <source media="(min-width:1000px" srcset="./principal/images/granjas/granja5-M.jpg">
                <img class="main_imagenes_grid" src="./principal/images/granjas/granja5-P.jpg" alt="">
            </picture>
            <picture>
                <source media="(min-width:1300px" srcset="./principal/images/granjas/granja6-G.jpg">
                <source media="(min-width:1000px" srcset="./principal/images/granjas/granja6-M.jpg">
                <img class="main_imagenes_grid" src="./principal/images/granjas/granja6-P.jpg" alt="">
            </picture>
        </section>
        <section id="mails" class="main_contacto">
            <h1 class="main_contacto_titulo">Contacto</h1>
            <form action="">
                <input type="text" name="nombre" placeholder="Nombre Completo">
                <input type="email" name="email" placeholder="Correo Electronico">
                <textarea name="Inquietudes" id="" placeholder="Inquietudes"></textarea>
                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>
    <!--Footer-->
    <footer class="footer">
        <section class="footer_correo">
            <img class="" src="../principal/images/logo2.png" alt="">
            <div class="footer_correo_separador"></div>
            <p>tuvaca.com.ubate@gmail.com</p>
        </section>
        <section class="footer_banerf">
            <section class="footer_baner">
                <picture>
                    <source media="(min-width:1300px" srcset="./principal/images/vacas/vaca1-G.jpg">
                    <source media="(min-width:1000px" srcset="./principal/images/vacas/vaca1-M.jpg">
                    <img class="footer_imagenes_grid" src="./principal/images/vacas/vaca1-P.jpg" alt="">
                </picture>
                <picture>
                    <source media="(min-width:1300px" srcset="./principal/images/vacas/vaca2-G.jpg">
                    <source media="(min-width:1000px" srcset="./principal/images/vacas/vaca2-M.jpg">
                    <img class="footer_imagenes_grid" src="./principal/images/vacas/vaca2-P.jpg" alt="">
                </picture>
                <picture>
                    <source media="(min-width:1300px" srcset="./principal/images/vacas/vaca3-G.jpg">
                    <source media="(min-width:1000px" srcset="./principal/images/vacas/vaca3-M.jpg">
                    <img class="footer_imagenes_grid" src="./principal/images/vacas/vaca3-P.jpg" alt="">
                </picture>
            </section>
            <div>
                <p>© 2022 - tuVaca.com</p>
            <a target="_blank"  href="https://firebasestorage.googleapis.com/v0/b/tuvaca-ce478.appspot.com/o/Pol%C3%ADtica%20de%20T%C3%A9rminos%20y%20Condiciones%20Aplicaci%C3%B3n%20Web%20tuVaca%20(1).pdf?alt=media&token=758607ba-6810-427e-a715-20b967629828">Politicas de Uso</a>
            <a href="">Manual de Uso</a>
            </div>
        </section>
    </footer>


    <!--Section fomulario de inicio de sesion-->
    <section class="modal_container_IS ">
        <section class="modal_IS modal_cerrado_IS">
            <div class="modal_ContendorC"><span class="cerrar_modal_IS"></span></div>
            <div class="modal_Cuerpo">
                <img class="modal_logo" src="./principal/images/logo2.png" alt="">
                <form class="modal_formulario_IS modal_formulario" id="login-form" action="/login-email" method="POST">
                    <input type="email" name="email" id="email" placeholder="Correo Electronico" required>
                    <input type="email" name="emailb" id="emailb" placeholder="Correo Electronico" style="display:none">
                    <input type="password" name="password" id="password" placeholder="Contraseña" minlength="7"
                        required>
                    <button type="submit">Iniciar Sesión</button>
                </form>
                <div class="modal_separador"></div>
                <div class="modal_google">
                    <span></span>
                    <a id="logingoogle">Iniciar Sesión con Google</a>
                </div>
                <div class="modal_facebook">
                    <span></span>
                    <a id="loginfacebook">Iniciar Sesión con Facebook</a>
                </div>
            </div>
        </section>
    </section>
    <!--Section fomulario de registro-->
    <section class="modal_container_R ">
        <section class="modal_R modal_cerrado_R">
            <div class="modal_ContendorC" id="cerrar"><span class="cerrar_modal_R"></span></div>
            <div class="modal_Cuerpo">
                <img class="modal_logo" src="./principal/images/logo2.png" alt="">
                <h1 id="titulo" style="display:none">Completar Registro</h1>
                <form class=" modal_formulario_R modal_formulario" id="register-form" action="/new-user-email"
                    method="POST">
                    <input type="text" name="id" id="id" type="text" style="display:none">
                    <input type="text" name="photo" id="photo" type="text" style="display:none">
                    <input type="text" name="name" id="name" placeholder="Nombre Completo" required>
                    <input type="text" name="nameb" id="nameb" placeholder="Nombre Completo" style="display:none">
                    <input type="number" name="phone" id="phone" placeholder="Número de Teléfono" min="3000000000"
                        max="9999999999" required>
                    <input type="email" name="email" id="email-a" placeholder="Correo Electronico" required>
                    <input type="email" name="emailb" id="emailbb" placeholder="Correo Electronico" style="display:none">
                    <input type="text" name="ubication" id="ubication" list="municipios" placeholder="Municipio"
                        required>
                    <datalist id="municipios">
                        <option value="Ubaté"></option>
                        <option value="Carmen de Carupa"></option>
                        <option value="Tausa"></option>
                        <option value="Suta"></option>
                        <option value="Lenguazaque"></option>
                        <option value="Guacheta"></option>
                        <option value="Cucunuba"></option>
                        <option value="Simijaca"></option>
                        <option value="Susa"></option>
                    </datalist>
                    <input type="password" name="passwordd" id="passwordd" placeholder="Contraseña" minlength="7"
                        required>
                    <input type="password" name="confirmPassword" id="confirmPassword"
                        placeholder="Verificar Contraseña" minlength="7" required>
                    <p id="nn"></p>
                    <button id="boton" disabled style="background-color:#A6A6A6 ;">Registrarse</button>
                </form>
                <div class="check">
                    <input type="checkbox" id="cbox">
                    <a href="javascript:popUp('/condiciones')">Acepto terminos y condiciones</a>
                </div>

                <div class="modal_separador"></div>
                <div class="modal_google" id="google" style="pointer-events: none;">
                    <span></span>
                    <a id="registergoogle"> Registrarse con Google</a>
                </div>
                <div class="modal_facebook" id="facebook" style="pointer-events: none;">
                    <span></span>
                    <a id="registerfacebook">Registrarse con Facebook</a>
                </div>
            </div>
        </section>
    </section>
    <!--Section Municipios-->
    <section class="modal_container_M">
        <section class="modal_M modal_cerrado_M">
            <div class="modal_ContendorCM"><span class="cerrar_modal_M"></span></div>
            <div class="">
                <h1>Comercio Intermunicipal</h1>
            </div>
            <section class="modal_M_contenido">
                <section class="modal_M_municipios">
                    <span class="ubicación"></span>
                </section>
                <section class="select_municipios">
                    <a class="carupa">Carupa</a>
                    <a class="cucunuba">Cucunubá</a>
                    <a class="fuquene">Fúquene</a>
                    <a class="guacheta">Guachetá</a>
                    <a class="lenguazaque">Lenguazaque</a>
                    <a class="simijaca">Simijaca</a>
                    <a class="susa">Susa</a>
                    <a class="suta">Sutatausa</a>
                    <a class="tausa">Tausa</a>
                    <a class="ubate">Ubaté</a>
                </section>
            </section>
        </section>
    </section>
    <!--Section Busqueda-->
    <section class="modal_container_B">
        <section class="modal_B modal_cerrado_B">
            <div class="modal_ContendorCB"><span class="cerrar_modal_B"></span></div>
            <div class="">
                <h1>Busqueda</h1>
            </div>
            <section class="modal_B_contenido">
                <section class="modal_B_busqueda">
                    <div class="main_contenido_bBuscadorC">
                        <span></span>
                    </div>
                    <div class="filtros">
                        <div class="nombre_filtro">
                            <p id="categoria"></p>
                            <span></span>
                        </div>
                        <div class="resultado_filtro">
                            <div class="razaF">
                                <p>Holstein</p>
                                <p>Jersey</p>
                            </div>
                            <div class="categoriasF">
                                <p>Vaca</p>
                                <p>Toro</p>
                                <p>Terneros</p>
                                <p>Novill@s</p>
                            </div>
                            <div class="edadF">
                                <p>Meses</p>
                                <p>Años</p>
                            </div>
                            <div class="municipiosF">
                                <p>Carupa</p>
                                <p>Cucunubá</p>
                                <p>Fúquene</p>
                                <p>Guachetá</p>
                                <p>Lenguazaque</p>
                                <p>Simijaca</p>
                                <p>Susa</p>
                                <p>Suta</p>
                                <p>Tausa</p>
                                <p>Ubaté</p>
                            </div>
                            <div class="vendedorF">
                                <p>Juan</p>
                                <p>Nayibe</p>
                            </div>
                        </div>
                    </div>
                    <div class="precios">
                        <div class="casilla_p">
                            <span class="pesos"></span>
                            <span class="lista"></span>
                        </div>
                        <p>a</p>
                        <div class="casilla_p">
                            <div class="pesos"></div>
                            <div class="lista"></div>
                        </div>
                    </div>
                </section>
                <section class="select_busqueda">
                    <a class="raza">Raza</a>
                    <a class="categoria">Categoria</a>
                    <a class="edad">Edad</a>
                    <a class="municipioB">Municipio</a>
                    <a class="vendedor">Vendedor</a>
                    <a class="precio">Precio</a>
                </section>
            </section>
        </section>
    </section>
    <!--Section Directorio-->
    <section class="modal_container_D">
        <section class="modal_D modal_cerrado_D">
            <div class="modal_ContendorCD"><span class="cerrar_modal_D"></span></div>
            <div class="">
                <h1>Directorio de Accarreos</h1>
            </div>
            <section class="modal_B_contenido">
                <section class="modal_B_busqueda">
                    <div class="main_contenido_bBuscadorC">
                        <span></span>
                    </div>
                    <div class="filtros2 ">
                        <div class="nombre_filtro">
                            <p id="categoria"></p>
                            <span></span>
                        </div>
                        <div class="resultado_filtro">
                            <div class="vehiculoF">
                                <p>Turbo</p>
                                <p>Camioneta</p>
                            </div>
                            <div class="municipiosDF">
                                <p>Carupa</p>
                                <p>Cucunubá</p>
                                <p>Fúquene</p>
                                <p>Guachetá</p>
                                <p>Lenguazaque</p>
                                <p>Simijaca</p>
                                <p>Susa</p>
                                <p>Suta</p>
                                <p>Tausa</p>
                                <p>Ubaté</p>
                            </div>
                            <div class="vendedorDF">
                                <p>Juan</p>
                                <p>Nayibe</p>
                            </div>
                        </div>
                    </div>
                    <div class="precios preciosD">
                        <div class="casilla_p">
                            <span class="pesos"></span>
                            <span class="lista"></span>
                        </div>
                        <p>a</p>
                        <div class="casilla_p">
                            <div class="pesos"></div>
                            <div class="lista"></div>
                        </div>
                    </div>
                </section>
                <section class="select_busqueda">
                    <a class="vehiculo">Vehiculo</a>
                    <a class="municipioD">Municipio</a>
                    <a class="vendedorD">Conductor</a>
                    <a class="precioD">Precio</a>
                </section>
            </section>
        </section>
    </section>
    <!--Section Publicación-->
    <section class="modal_container_P">
        <section class="modal_P modal_cerrado_P">
            <div class="modal_ContendorCP"><span class="cerrar_modal_P"></span></div>
            <div class="">
                <h1>Publicaciones</h1>
            </div>
            <section class="modal_P_contenido">
                <section class="modal_P_publicacion">
                    <div class="modal_crear">
                        <img src="./principal/images/crear.png" alt="">
                    </div>
                    <div class="modal_editar">
                        <div class="contenido_p_caja " id="cajaUno">
                            <div class="contenido_p_izquierdo">
                                <div class="cpi_uno"></div>
                                <div class="cpi_dos"></div>
                                <div class="cpi_tres">
                                    <div class="cpi_tresS">
                                        <div class="cpi_tresSpan"></div>
                                        <div class="cpi_tresSpan"></div>
                                        <div class="cpi_tresSpan"></div>
                                        <div class="cpi_tresSpan"></div>
                                    </div>
                                    <div class="cpi_tresD"></div>
                                </div>
                            </div>
                            <div class="contenido_p_derecho">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="botonE">
                            <p>Guardar Cambios</p>
                        </div>
                    </div>
                    <div class="modal_publicar">
                        <div class="contenido_p_caja " id="cajaUno">
                            <div class="contenido_p_izquierdo">
                                <div class="cpi_uno"></div>
                                <div class="cpi_dos"></div>
                                <div class="cpi_tres">
                                    <div class="cpi_tresS">
                                        <div class="cpi_tresSpan"></div>
                                        <div class="cpi_tresSpan"></div>
                                        <div class="cpi_tresSpan"></div>
                                        <div class="cpi_tresSpan"></div>
                                    </div>
                                    <div class="cpi_tresD"></div>
                                </div>
                            </div>
                            <div class="contenido_p_derecho">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal_borrar">
                        <p>Publicación Eliminada</p>
                    </div>
                </section>
                <section class="select_publicacion">
                    <div class="C"><span class="crear_S"></span><a class="crear"> Crear</a></div>
                    <div class="E"><span class="editar_S"></span><a class="editar">Editar</a></div>
                    <div class="P"><span class="publicar_S"></span><a class="publicar"> Publicar</a></div>
                    <div class="B"><span class="borrar_S"></span><a class="borrar"> Borrar</a></div>
                </section>
            </section>
        </section>
    </section>
    <script src="./principal/JS/index.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-auth.js"></script>
    <!-- Don't change the format for any other products. -->
    <!-- etc. -->
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            // YOUR FIREBASE CREDENTIALS HERE
            apiKey: "AIzaSyDlasdrgnXPMmIqioRVObso5lwBp1e5UCs",
            authDomain: "tuvaca-ce478.firebaseapp.com",
            projectId: "tuvaca-ce478",
            storageBucket: "tuvaca-ce478.appspot.com",
            messagingSenderId: "487906553455",
            appId: "1:487906553455:web:35cd78dd5c339b1d3ba79a",
            measurementId: "G-3LYFGJK1ET"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const auth = firebase.auth();
    </script>
    <script src="./JS/firebaseAuth.js"></script>
</body>

</html>