<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Port+Lligat+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="./principal/CSS/movile.css">
    <link rel="stylesheet" href="./principal/CSS/tablet.css" media="screen and (min-width:600px)">
    <link rel="stylesheet" href="./principal/CSS/web.css" media="screen and (min-width:1000px)">
    <link rel="icon" type="image/png" href="./principal/images//logoblanco.png" sizes="100x100">
    <title>tuVaca.com</title>
</head>
<body class="body">
    {{!-- {{{layout : false}}} --}}
    <section class="modal_container_IS2 ">
        <a target="_blank" href="https://firebasestorage.googleapis.com/v0/b/tuvaca-ce478.appspot.com/o/Manual%20tuVaca.pdf?alt=media&token=fcc44914-51e7-4957-856f-e47a220b2239">Clic aqui para ver PDF</a>
        <iframe class="manual" src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFMDh1Osz4&#x2F;view?embed"  allowfullscreen="allowfullscreen" allow="fullscreen" frameborder="0"></iframe>
    </section>

</body>
</html>