<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Port+Lligat+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="../usuarios/CSS/movile.css">
    <link rel="stylesheet" href="../usuarios/CSS/tablet.css" media="screen and (min-width:600px)">
    <link rel="stylesheet" href="../usuarios/CSS/web.css" media="screen and (min-width:1000px)">
    <link rel="icon" type="image/png" href="../principal/images/logoblanco.png" sizes="100x100">
    <title>tuVaca.com</title>
    <!--Header-->
</head>
    <header class="header">
        <nav class="header_navegacion">
            <h1>tuVaca</h1>
            <ul>
                <a id="pub" class="header_icon_uno" href="#publicaciones"></a>
                <a id="crear" class="header_icon_dos" href="#crear"></a>
                <a id="car" class="header_icon_tres" href="#acarreos"></a>
                <a id="per" class="header_icon_cinco" href="#perfil"></a>
                <!-- <img src="../public/usuarios/images/perfil.jpeg" class="header_icon_cinco" alt=""> -->
            </ul>
        </nav>
    </header>
    <main>
        <div class="embed-container">
            <iframe src="../public/index.html" frameborder="0" allowfullscreen></iframe>
        </div>
        <!-- <img src="../public/usuarios/images/logo2.png" alt="">
        <img src="../public/usuarios/images/logo2.png" alt="">
        <img src="../public/usuarios/images/logo2.png" alt="">
        <img src="../public/usuarios/images/logo2.png" alt="">
        <img src="../public/usuarios/images/logo2.png" alt="">
        <img src="../public/usuarios/images/logo2.png" alt="">
        <img src="../public/usuarios/images/logo2.png" alt="">
        <img src="../public/usuarios/images/logo2.png" alt="">
        <img src="../public/usuarios/images/logo2.png" alt="">
        <img src="../public/usuarios/images/logo2.png" alt="">
        <img src="../public/usuarios/images/logo2.png" alt="">
        <img src="../public/usuarios/images/logo2.png" alt=""> -->
    </main>
    <script src="../public/usuarios/JS/index.js"></script>
</html>