<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Port+Lligat+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="./usuarios/publicaciones/CSS/movile.css">
    <link rel="stylesheet" href="./usuarios/publicaciones/CSS/tablet.css" media="screen and (min-width:600px)">
    <link rel="stylesheet" href="./usuarios/publicaciones/CSS/web.css" media="screen and (min-width:1000px)">
    <link rel="icon" type="image/png" href="./principal/images/logoblanco.png" sizes="100x100">
    <title>tuVaca.com</title>
</head>

<body>
    <section class="publicacion">
        <!--en esta division estan los tres punticos para borrar y editar la publicación-->
        <div class="publicacion_mas">
            <span></span>
        </div>
        <!--En esta division esta la imagen del bovino a vender-->
        <div class="publicacion_imagen">
            <img src="./principal/images/vacas/vaca6-G.jpg" alt="">
        </div>
        <!--En esta división esta la fecha, los me gusta y el chat-->
        <div class="publicacion_linea1">
            <p>21/julio/2022</p>
            <div>
                <div class="chat"></div>
                <div class="me_gusta"></div>
            </div>
        </div>
        <!--En esta división esta:-->
        <div class="publicacion_linea2">
            <div class="publicacion_perfil">
                <!--foto de perfil del publicador-->
                <div></div>
                <!--nombre del publicador-->
                <p>Nayibe Casas</p>
            </div>
            <!--calificación de la publicacion-->
            <div class="publicación_cal">

            </div>
        </div>
        <div class="publicacion_linea3">
            <!--precio del bovino-->
            <p>Ubaté</p>
            <!--precio del bovino-->
            <p>$25.000</p>
            <!--tipo de bovino-->
            <p>Vaca-Holstein</p>
        </div>
    </section>
    {{!-- <section class="modal_container_p ">
        <section class="modal_p modal_cerrado_p">
            <div class="modal_Contendorp"><span class="cerrar_modal_p"></span></div>
            <!--en esta division estan los tres punticos para borrar y editar la publicación-->
            <div class="modal_Cuerpo">
                <div class="publicacion_mas">
                    <span></span>
                </div>
                <!--En esta division esta la imagen del bovino a vender-->
                <div class="publicacion_imagen2" >
                    <img src="./usuarios/menu/images/perfil.jpeg" alt="">
                </div>
                <div class="publicacion_descripcion">
                    <!--En esta división esta la fecha, los me gusta y el chat-->
                    <div class="publicacion_linea1b">
                        <p>21/julio/2022</p>
                        <div>
                            <div class="chat"></div>
                            <div class="me_gusta"></div>
                        </div>
                    </div>
                    <!--En esta división esta:-->
                    <div class="publicacion_linea2b">
                        <div class="publicacion_perfil">
                            <!--foto de perfil del publicador-->
                            <div></div>
                            <!--nombre del publicador-->
                            <p>Nayibe Casas</p>
                        </div>
                        <!--calificación de la publicacion-->
                        <div class="publicación_cal">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section> --}}

    {{!-- <script src="./usuarios/menu/JS/index.js"></script> --}}
</body>
</html>