<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Port+Lligat+Sans&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	<link rel="stylesheet" href="./usuarios/menu/CSS/movile.css">
	<link rel="stylesheet" href="./usuarios/menu/CSS/tablet.css" media="screen and (min-width:600px)">
	<link rel="stylesheet" href="./usuarios/menu/CSS/web.css" media="screen and (min-width:1000px)">
	<link rel="icon" type="image/png" href="./principal/images/logoblanco.png" sizes="100x100">
	<title>tuVaca</title>
</head>

<body >
	<!--Header-->
	<header class="header">
		<nav class="header_navegacion">
			<h1 style="cursor: pointer;" onclick="link()">tuVaca</h1>
			<ul>
				<a id="pub" class="header_icon_uno" href="/publicaciones"></a>
				<a id="crear" class="header_icon_dos" href="/crearPublicacion"></a>
				<a id="car" class="header_icon_tres" href="/acarreos"></a>
				<a style="background-image: url(./usuarios/menu/icons/perfil.png)" id="per" class="header_icon_cuatro"
					href="/perfil"></a>
			</ul>
		</nav>
	</header>
	<!--main-->
	<main>
		{{{body}}}
	</main>
	<script>
		function link(){
			window.location="/publicaciones"
		}
	</script>
</body>

</html>